/* Small desktop */

@media (max-width: 1115px) {

    .navbar {
       display: flex;
       align-items: center;
       gap: 220px;
    }

    .navbar-list a {
       font-size: 13px;
       gap: 80px;
    }

    .navbar-list a:nth-child(6) 

    .navbar-list {
        display: flex;
        align-items: center;
        margin-left: 7rem;
    }

    .logo {
        padding-right: 5.8rem;
    }

    .hero-info h1 {
        font-size: 35px;
    }

    .hero-info p,
    .hero-button {
        margin-right: 3rem;
    }
    
    .product-title {
        margin-right: 6rem;
    }

    .products-container {
        /* margin-right: 3rem; */
    }

    .about-info {
        margin-right: 3rem;
    }

    #newsletter {
        padding: 40px 0px;
        margin: 10px 0px 0px 10px;
        gap: 10px;
    }

    .newsletter-container {
        margin-right: 3.5rem;
        width: 45%;
    }

    .newsletter-container p {
        margin-left: 3rem;
    }

    .form {
        width: 40%;
    }

    .form input {
        width: 300px;
    }

    #contact {
       margin-right: 3rem;
    }

    .contact-info {
        width: 45%;
    }

    .contact-map {
        width: 45%;
    }
}

/* Tablet */


@media (max-width: 1100px) {

    .navbar {
        gap: 10px;
    }
    
    .navbar-list {
       position: absolute;
       top: 65px;
       left: 5%;
       right: 5%;
       width: 90%;
       flex-direction: column;
       background-color: #dfa1a1;
       border: 2px solid #f19c93;
       border-top: 0px;
       border-radius: 0px 0px 10px 10px;
       align-items: flex-start;
       padding: 45px 30px;
       gap: 20px;
       z-index: 2;
       display: none;
    }

    .menu-label {
        display: flex;
        order: 2;
        cursor: pointer;
    }

    #menu-toggle:checked + 
    .navbar-list {
        display: flex;
    }

    .form {
        width: 30%;
    }

    .contact-map iframe {
        width: 80%;
    }
}

/* Tablet */

@media (max-width: 992px) {

    .hero-info h1 {
        width: 30%;
        font-size: 30px;
        min-width: 400px;
    }

    .hero-card img {
        width: 350px;
    }

    .products-container {
        gap: 10px;
    }

    .clothing-item img {
        width: 200px;
    }

    .clothing-item-title h3 {
        font-size: 18px;
    }

    .newsletter-container {
        width: 45%;
        text-align: center;
        justify-content: center;
        margin-right: 50px;
    }

    .newsletter-container h3 {
        font-size: 20px;
    }

    .newsletter-container p {
        align-items: center;
        font-size: 14px;
    }

    .form input {
        height: 25px;
        width: 300px;
    }

    .form-box {
        width: 400px;
        height: 350px;
    }
}

/* Tablet */

@media (max-width: 780px) {

    .hero-card img {
        display: none;
    }

    #newsletter {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #contact {
        justify-content: center;
        align-items: center;
    }

    .contact-map {
        display: none;
    }

    .form-box {
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-right: 150px;
    }
}

/* Celular */

@media (max-width: 570px) {

    .logo {
        height: 60%;
    }

    .shopping-bag-icon, 
    .menu-icon {
        height: 30px;
        font-weight: 300;
    }

    .clothing-item img {
        width: 400px;
    }

    .form-box h3 {
        font-size: 25px;
    }

    .form label {
        font-size: 16px;
    }
}

/* Celular */

@media (max-width: 470px) {

    .hero-info h1 {
        margin-left: 20px;
    }

    .form-box {
        width: 300px;
        height: 400px;
    }
    
    .form label {
        font-size: 18px;
    }

    .form input {
        height: 30px;
        width: 200px;
    }

    .clothing-item img {
        width: 300px;
    }
}

/* Celular */

@media (max-width: 430px) {

    .logo {
        height: 50%;
    }
    
    .shopping-bag-icon {
        height: 20px;
    }

    .menu-icon {
        height: 20px;
    }

    .hero-info {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-info h1 {
        font-size: 22px;
        margin-left: 120px;
        padding: 0px 10px;
        align-items: center;
    }

    .product-title h2,
    .about-info h2,
    .contact-info h3 {
        font-size: 20px;
    }

    .clothing-item img {
        width: 290px;
    }

    .form label {
        font-size: 16px;
    }
}

/* Celular */ 

@media (max-width: 320px) {

    header {
        padding: 0px 15px;
    }

    .hero-button {
        width: 90px;
    }

    .clothing-item img {
        width: 270px;
    }

    .clothing-item-title h3 {
        font-size: 16px;
    }

    .clothing-item-price span {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
    }

    .about-info p {
        font-size: 15px;
    }

    .newsletter-container h3 {
        font-size: 16px;
    }

    .newsletter-container p {
        font-size: 12px;
    }

    footer span {
        font-size: 13px;
    }
}