@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    text-decoration: none;
    list-style-type: none;
}

/* Header */

header {
    font-size: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0px 30px;
    position: fixed;
    top: 0;
    z-index: 2;
}

.logo {
    height: 70%;
}

.navbar,
.navbar-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    gap: 250px;
}

.navbar-list {
    gap: 40px;
}

.navbar-list a {
    color: black;
}

.shopping-bag-icon {
    height: 25px;
    margin-right: 5px;
    cursor: pointer;
}

/* Hero */

#hero {
    margin-top: 65px;
    padding: 70px 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 50%;
}

.hero-info h1 {
    font-size: 40px;
    width: 80%;
    min-width: 500px;
    text-shadow: 2px 2px 4px #2d2d2d;
}

.hero-info p {
    font-weight: 300;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-button {
    color: white;
    background-color: black;
    width: 100px;
    padding: 8px 2px;
    text-align: center;
    border-radius: 2px; 
    cursor: pointer;
}

